<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main}">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="/static/css/login.css"> <!-- CSS 파일 연결 -->
</head>
<body>
<div class="login-container">
    <form action="signIn" method="post">
        <div>
            <label for="username">아이디:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">비밀번호:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button type="submit">로그인</button>
        </div>
    </form>

    <div class="links">
        <a href="/find-credentials">아이디/비밀번호 찾기</a> |
        <a href="/register">회원가입</a>
    </div>
</div>
</body>
</html>