<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main}">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="/css/login.css"> <!-- CSS 파일 경로 -->
</head>

<body>
<div layout:fragment="main" id="main">

    <div id="loginWrap">
        <form method="post" action="/member/signIn" th:object="${LoginDTO}">
            <div class="formData">
                <div class="formTitle">로그인</div>
                <div class="inputField">
                    <input type="text" th:field="*{id}" id="userId" placeholder="아이디" required>
                </div>
                <div class="inputField">
                    <input type="password" th:field="*{password}" id="password" placeholder="비밀번호" required>
                </div>

                <p th:if="${loginFailMsg}" th:text="${loginFailMsg}" style="color:red; padding-bottom:20px;"></p>

                <div class="loginBt">
                    <button type="submit">로그인</button>
                </div>
            </div>
        </form>

        <div class="findCredentials">
            <p>
                <a href="/member/findInfo">아이디/비밀번호 찾기</a>
            </p>
        </div>

        <div class="joinLink">
            <a href="/member/signUp">회원가입</a>
        </div>

    </div>
</div>
</body>
</html>