    <!DOCTYPE html>
    <html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="header" id="header">
        <div id="nav">
            <!-- 로고 -->
            <div class="logo">로고</div>

            <!-- 검색창 -->
            <div class="search">
                <input type="text" name="keyword" id="keyword" placeholder="검색창">
            </div>

            <div class="right-buttons">
                <a href="/member/signIn" class="login-button">로그인</a>
                <a href="/templates/mypage/mypage.html" class="login-button">마이페이지</a>
            </div>

            <!-- 축제 일정 버튼 -->
            <div class="festival">
                <button type="button" onclick="location.href='/festival/schedule'">축제 일정</button>
            </div>

            <!-- 다이어리 버튼 -->
            <div class="diary">
                <button type="button" onclick="location.href='/diary'">다이어리</button>
            </div>

            <!-- 함께가요 버튼 -->
            <div class="together">
                <button type="button" onclick="location.href='/together'">함께가요</button>
            </div>
        </div>
    </div>
    </html>